body {
  background-color: #E7DFD8;
  margin: 0;
}

nav {
  background-color: inherit;
  height: 50px;
  width: 100%;
  position: static;
  top: 0%;
  font-weight: bold;
  margin-top: 5%;

  display: flex;
  flex: row;
  justify-content: center;
  list-style: none;
  gap: 20%;
}

a {
  text-decoration: none;
  font-family:"Times New Roman";
  font-size:large;
} 

 .nav-link {
  color:black; 
}

.nav-link:hover {
  /* color: crimson; */
  text-decoration-line: underline;
}

.my-friends-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-friends-container {
  width: 90%;
  border: 1px solid black;  
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 1;
  align-self: center;
}

.my-profile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-profile-container {
  width: 90%;
  height: 300px;
  border: 1px solid black;  
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 1;
  align-self: center;
}

.my-entries-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-entries-container {
  width: 90%;
  border: 1px solid black;  
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 1;
  align-self: center;
}

.new-entry-button-container {
  width: 90%;

  display: flex;
  align-self: center;
  justify-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.new-entry-button{
  background-color: #E7DFD8;
  color: black;
  font-size:120%;
  border-radius: 40px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 2px black; 
  font-family:"Times New Roman";
  padding: 4px 15px;
}
.new-entry-button:hover {
  background-color: #d1c1b4;
}
.new-entry-button:active {
  background-color: #E7DFD8;
  /* box-shadow: inset 0 0 0 2px #d1c1b4;  */
}

#bar{
  width:80%;
  height:3%;
  background-color: #d8e0e7; 
  font-family:"Times New Roman";
  font-size:large;
  resize:none;
}

#submit-button{
  width: 19.5%;
  height:3.5%;
  margin-left:80.5%;
  margin-top:-3.5%;
  background-color: #d8e0e7; 
  font-family:"Times New Roman";
  font-size:large;
}

.pfp-file {
  width: 100%;
}

.profile-title {
  display:flex;
  flex-direction: column;
}

.profile-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman';
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pfp-file{
  width: 100%;

  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#logout-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding-right: 5px;
  padding-top: 5px;
}

#modal-close {
  background-color: transparent;
  border: transparent;
  font-size: x-large;
}

#modal-close:hover {
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

#title {
  border: solid 1px black;
}

#entry {
  resize:none;
  border: solid 1px black;
  height:400px;
}

.modal-labels {
  font-size: x-large;
}

.form-control{
  font-size: large;
  font-family: 'Times New Roman';
}

.btn-primary{
  font-size: large;
  margin-top:5px;
}
