id {
    display: none;
}
#id.visible {
    display: block;
}

#arrows{
    display: flex;
    flex-direction:column;
    margin-left: 75px;
    margin-top: -20px;
}

#arrow_container{
    display:flex;
    justify-content:flex-end;
    margin-top:-20px;
}

#vote{
    margin-left:85px;
    margin-top: -20px;
    font-size: 25px;
    padding:3px;
}

#username{
    font-size: 15px;
    color: dodgerblue;
    max-width: 400px;
}

#postMessage{
    display:flex;
    justify-content:flex-start;
    margin-top: 10px;
    font-size: 20px;
    max-width: 750px;
    overflow-wrap: break-word;
}